body {
	color: #595959;
}
#map {
	height: 100%;
	width: 100%;
	position: absolute;
	box-shadow: 
}
#map:before {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0px 0px 1px 1px #d0d0d0;
	height:100%;
	z-index: 1000;
}
#search-box {
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	top: 10px;
	left: 0;
	right: 0;
	border-radius: 5px;
	/*border: 1px solid #d0d0d0;*/
	box-shadow: 0px 0px 1px 1px #d0d0d0;
	position: absolute;
	z-index: 1001;
	background-color: white;
	opacity: 0.5;
}
#search-box input {
	border: none;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
}
#drawer-left {
	background-image: url('../img/slider_left.png');
	left: -1px;
	padding: 39px 0 0 6px;
	width: 39px;
	height: 85px;
}
#drawer-right {
	background-image: url('../img/slider_right.png');
	right: -1px;
	padding: 46px 0 0 14px;
	width: 31px;
	height: 78px;
}
.drawer {
	bottom: 100px;
	position: absolute;
	z-index: 1002;
	opacity: 0.5;
	-webkit-box-sizing: initial;
	box-sizing: initial;
}
ul {
	list-style-type: none;
}
h2 {
	padding-left: 10px;
}
#bottom-drawer {
	background: url('../img/point.png') 40px 14px no-repeat;
	bottom: 0;
	position: absolute;	
	width: 100%;
	height: 60px;
	padding-top: 14px;
	background-color: white;
	box-shadow: inset 0px 0px 1px 1px #d0d0d0;
	z-index: 3;
	padding-left: 70px;
}
#bottom-drawer p{
	text-align: left;
	padding-left: 10px;
	line-height: 1em;
}
#resource-icon,
#resource-info {
	float: left;
}
.feature-label {
	font-size: 16px;
	color: #15adff;
}
.feature-uri {
	font-size: 12px;
	color: #636363;
	overflow:hidden;
}
.snap-drawer-left a{
	font-size: 12px;
}
.snap-drawer-left .alert-info,
.snap-drawer-left .alert-success,
.snap-drawer-left button, .snap-drawer-left input{
	background-color: #fff;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	transition: none;
	color: #6c6c6c;
}
.snap-drawer-left .alert-info button.form-control {
	width: 99%;
	padding-left: 38px;
	float: right;
	display: inline-block;
}
.snap-drawer-left .btn-default,
.snap-drawer-left .btn-default:hover, 
.snap-drawer-left .btn-default:focus, 
.snap-drawer-left .btn-default:active {
	border: none;
	background: none;
}
.snap-drawer-left .alert-info .input-group-btn {
	float: left;
}
.snap-drawer-left .alert-info .input-group-btn .glyphicon-circle-arrow-right:before {
	content: "\25CF";
	color: #00aaef;
}
.snap-drawer-left .alert-info {
	width: 100%;
	clear: both;
}
.snap-drawer-left .alert-info  ul.list-group {
	width: 100%;
	border-top: 1px solid #e3e3e3;
}
.snap-drawer-left .alert-info   ul.list-group li {
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
}
.snap-drawer-left .frame {
	border: none;
}
.snap-drawer-right h2 {
	padding-left: 18px;
	margin-bottom: 5px;
}
.snap-drawer-right ul {
	margin: 0;
	padding: 0;
	color: #B6B6B6;
	font-size: 12px;
}
.snap-drawer-right ul  li{
	border-bottom: 1px solid #e3e3e3;
	padding: 20px 0 20px 18px;
	width: 100%;
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
	word-break: break-all;
	white-space: normal;
}
.snap-drawer-right .source-name {
	margin-bottom: 5px;
	font-size: 18px;
	color: #595959;
}
.snap-drawer-right .source-endpoint {
	color: #FF7E8D;
}
.snap-drawer-right .source-graph {
	color: #FFE374;
}
.snap-drawer-right .source-type {
	color: #83D5FF;
}