<ol class="list-inline">
    <li>
        <button class="btn btn-primary" ng-disabled="path.isEmpty()" ng-click="setPath(0)">
            <span class="glyphicon glyphicon-home"></span>
        </button>
    </li>

    <li ng-if="offset != 0">
        ...
    </li>

<!-- .slice(-offset) -->
    <li ng-repeat-start="slot in slots">
        <button class="btn btn-primary" ng-disabled="$last" ng-click="setPath($index + 1)">
            {{slot.labelInfo.displayLabel || slot.property.getUri()}}
        </button>
    </li>
    <li ng-repeat-end>
        <button class="btn btn-warning"ng-click="setPath($index + 1)">
            {{slot.isInverse ? '&lt;' : '&gt;'}}
        </button>
    </li>

</ol>
