<!DOCTYPE html>
<html ng-app="jassa.demo.map.ol.basic" ng-controller="gemCtrl">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/gem.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="bower_components/angular-snap/angular-snap.css" />

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/jassa-ui-angular/jassa-ui-angular.css" />
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->


    <script src="bower_components/jscache/cache.js"></script>


    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jassa/jassa.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/jassa-ui-angular/jassa-ui-angular-tpls.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/snapjs/snap.js"></script>
    <script src="bower_components/angular-snap/angular-snap.js"></script>
    <script src="bower_components/bluebird/js/browser/bluebird.js"></script>
    <script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->

    <script src="bower_components/underscore.string/lib/underscore.string.js"></script>


    <script src="lib/angular-snap/angular-snap.js"></script>
    <script src="lib/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
    <script src="js/orientation.js"></script>

    <script src="lib/angular-ui/0.10.0/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="lib/wicket/wicket.js"></script>
    <script src="lib/wicket/wicket-leaflet.js"></script>


    <script src="js/jassa-ui-angular-leaflet-tpls.js"></script>
    <script src="js/sourcemanager/sourcemanager.js"></script>
    <script src="js/search.js"></script>

    <script src="js/breadcrumb/breadcrumb.js"></script>
    <script src="js/jassa-list/jassa-list.js"></script>
    <script src="js/facet-list/facet-list.js"></script>

    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

    <title>GEM - {{bar.value}}</title>
    <script type="text/javascript">
    $(function(){
        $("#bottom-drawer").css("bottom","-80%");
        //$("#bottom-drawer p").css("width",window.innerWidth-80);
    });
    $(window).resize(function () {
        //$("#bottom-drawer p").css("width",window.innerWidth-80);
    });
    </script>
    <script type="text/javascript">
    _.mixin(_.str.exports());

    $ = jQuery || $;
    jQuery = $;

    jassa = new Jassa(Promise, $.ajax);

    var rdf = jassa.rdf;
    var sparql = jassa.sparql;
    var service = jassa.service;
    var sponate = jassa.sponate;
    var facete = jassa.facete;
    var util = jassa.util;

    var geo = jassa.geo;

    var vocab = jassa.vocab;

    // temporary (used at first start or when the source list is empty)
    var sources = [
                    {
                      'name' : 'LGD Bars',
                       'endpoint' : 'http://linkedgeodata.org/sparql',
                      'graph' : 'http://linkedgeodata.org',
                      'type' : 'http://linkedgeodata.org/ontology/Bar',
                      'active' : true,
                      'facets' : true
                    },
                    {
                      'name' : 'DBP Universities',
                      'endpoint' : 'http://akswnc3.informatik.uni-leipzig.de/data/dbpedia/sparql',
                      'graph' : 'http://dbpedia.org',
                      'type' : 'http://dbpedia.org/ontology/University',
                      'active' : false,
                      'facets' : false
                    },
                    { 'name' : 'DBP Architecture',
                      'endpoint' : 'http://akswnc3.informatik.uni-leipzig.de/data/dbpedia/sparql',
                      'graph' : 'http://dbpedia.org',
                      'type' : 'http://dbpedia.org/ontology/ArchitecturalStructure',
                      'active' : false,
                      'facets' : false
                    }
                ];

    var createSparqlService = function(url, graphUris) {
        var result = service.SparqlServiceBuilder.http(url, graphUris, {type: 'POST'})
            .cache().virtFix().paginate(1000).pageExpand(100).create();

        return result;
    };

    var DataSourceFilter = jassa.ext.Class.create({
        initialize: function(delegate, filterFn) {
            this.delegate = delegate;
            this.filterFn = filterFn || function() { return true; };
        },
        fetchData: function(concept) {
            var self = this;
            return this.delegate.fetchData(concept).then(function(items) {
                return items.filter(self.filterFn);
            });
        },
        setFilter: function(filterFn) {
            this.filter = filterFn;
        }
    });

    var DataSourceFilterUtils = {
        createFilteredDataSource: function(ds, text) {
            return new DataSourceFilter(ds, function(item) {
                // case insensitive filtering
                return !text ? item : item.shortLabel.displayLabel.toLowerCase().indexOf(text.toLowerCase()) >= 0;
            });
        }
    };
	
	var updateRawDataSources;

    angular.module('jassa.demo.map.ol.basic', ['ngSanitize', 'ui.bootstrap', 'ui.jassa', 'ui.jassa.leaflet', 'snap', 'ui.jassa.facet-list', 'ui.jassa.jassa-list', 'ui.jassa.breadcrumb'])

    .controller('gemCtrl', ['$scope', function($scope) {

        //$scope.ObjectUtils = util.ObjectUtils;

        $scope.facetTreeConfig = new facete.FacetTreeConfig();


        // Different factories
        var geoMapFactoryVirt = geo.GeoMapFactoryUtils.createWktMapFactory('http://www.w3.org/2003/01/geo/wgs84_pos#geometry', 'bif:st_intersects', 'bif:st_geomFromText');
        var geoMapFactoryAsWktVirt = geo.GeoMapFactoryUtils.createWktMapFactory('http://www.opengis.net/ont/geosparql#asWKT', 'bif:st_intersects', 'bif:st_geomFromText');
        var geoMapFactoryWgs =  geo.GeoMapFactoryUtils.wgs84MapFactory;

        var createMapDataSource = function(sparqlService, geoMapFactory, concept, fillColor) {

            var attrs = {
                fillColor: fillColor,
                fontColor: fillColor,
                strokeColor: fillColor,

                stroke: true,
                strokeLinecap: 'round',
                strokeWidth: 100,
                pointRadius: 12,
                labelAlign: 'cm'
            };

            var result = geo.GeoDataSourceUtils.createGeoDataSourceLabels(sparqlService, geoMapFactory, concept, attrs);
            return result;
        }

        var bounds = new geo.Bounds(7.0, 49.0, 9, 51.0);


        // Example with three different factories (should take into consideration for source manager implementation)
        /*
        var sparqlServiceA = createSparqlService('http://akswnc3.informatik.uni-leipzig.de/data/dbpedia/sparql', ['http://dbpedia.org']);
        var sparqlServiceB = createSparqlService('http://linkedgeodata.org/sparql', ['http://linkedgeodata.org']);
        var sparqlServiceC = createSparqlService('http://localhost/data/geolink/sparql', ['http://geolink.aksw.org/']);

        var conceptA = sparql.ConceptUtils.createTypeConcept('http://dbpedia.org/ontology/University');
        var conceptB = sparql.ConceptUtils.createTypeConcept('http://linkedgeodata.org/ontology/Airport');
        var conceptC = sparql.ConceptUtils.createTypeConcept('http://www.linklion.org/ontology#Link');

        $scope.dataSources = [
            createMapDataSource(sparqlServiceA, geoMapFactoryVirt, conceptA, '#CC0020'),
            //createMapDataSource(sparqlServiceB, geoMapFactoryWgs, conceptB, '#2000CC')
            //createMapDataSource(sparqlServiceC, geoMapFactoryAsWktVirt, conceptC, '#663300'),
        ];
        */

        $scope.selectGeom = function(data) {
            alert(JSON.stringify(data));
            //console.log('Status', data);
        };

        $scope.mapConfig = {
            center: { lon: 8, lat: 50 },
            zoom: 8
        };

        $scope.setCenter = function() {
            $scope.mapConfig.center = { lon: 20, lat: 20 };
            $scope.mapConfig.zoom = 4;
        };

        $scope.$watch('mapConfig', function(v) {
            console.log('Config changed: ' + JSON.stringify(v));
        }, true);

        $scope.dataSources = [];

        var defaultConcept = sparql.ConceptUtils.createSubjectConcept(), defaultService;
        firstLoad = true;


        updateRawDataSources = function(){
            if(localStorage.sources && localStorage.sources.length > 2){
                sources = $.parseJSON(localStorage.sources);
            }
            else if(!firstLoad){
                sources = $.parseJSON(localStorage.sources);
            }

            var dataSources = [];
            $.each(sources, function(key, source){
                if(source.active){
                    var baseConcept = sparql.ConceptUtils.createTypeConcept(source.type);

                    var facetConfig = $scope.facetTreeConfig.getFacetConfig();
                    facetConfig.setBaseConcept(baseConcept);

                    var concept = facete.FacetUtils.createConceptResources(facetConfig, new facete.Path()); //, null, false);


                    var sparqlService = createSparqlService(source.endpoint, source.graph);
                    if(source.facets){
                        defaultConcept = concept;
                        defaultService = sparqlService;
                    }
                    var dataSource = createMapDataSource(sparqlService, geoMapFactoryWgs, concept, '#CC0020');
                    dataSources.push(dataSource);
                }
            });
            $scope.rawDataSources = dataSources;
        }

        $scope.filterText = null;

        var updateDataSources = function() {
            $scope.dataSources = $scope.rawDataSources.map(function(rawDataSource) {
                var r = DataSourceFilterUtils.createFilteredDataSource(rawDataSource, $scope.filterText);
                return r;
            });
        };


        //updateRawDataSources();

        $scope.$watch(function() {
            return util.ObjectUtils.hashCode($scope.facetTreeConfig);
        }, function() {
            updateRawDataSources();
        });

        $scope.$watchCollection(function() {
            return $scope.rawDataSources;
        }, function() {
            updateDataSources();
        });

        $scope.$watch(function() {
            return $scope.filterText;
        }, function() {
            updateDataSources();
        });
		
		$scope.$watch(function () { return localStorage.sources; }, function(){
			updateRawDataSources();
		},true);

        $(function() {
            refresh();
        });

        //$scope.rawDataSources = $scope.dataSources; // keep track of non-filtered data sources

        $scope.filterClicked = function(text) {
            $scope.filterText = text ? text : null;

            if(text){ // Show filtered
//                 var rawDataSources = $scope.rawDataSources; // always apply filter to all of the resources within current bounds
//                 $scope.dataSources = []; // clear datasources
//                 for(i in tempDataSources) {
//                     $scope.dataSources.push(DataSourceFilterUtils.createFilteredDataSource(rawDataSources[i], text));
//                 }
                //$('#search').attr("placeholder", 'Leave empty and press Enter to clear filter');
                $('#search').css("display", 'none');
                $('#clear').css("display", 'block');
            }
            else { // Show raw
//                 $scope.dataSources = $scope.rawDataSources;
                $('#search').attr("placeholder", 'Type, then press Enter to apply filter');
            }
        };



        // TODO: Select default data source for facet tree
        $scope.updateFacetTree = function(defaultService, defaultConcept){
            $scope.sparqlService = defaultService;

            $scope.facetTreeConfig.getFacetConfig().setBaseConcept(defaultConcept);
            $scope.selectedPath = new facete.Path();
            $scope.selectPath = function(path) {
                $scope.selectedPath = path;
            };

            $scope.facetTreeConfig.getFacetTreeState().getPathExpansions().add(new facete.Path());

            $scope.$watch('facetTreeConfig.getFacetConfig().getConstraintManager();', function() {
                $scope.facetValueConceptService = new facete.FacetValueConceptServiceExact($scope.facetTreeConfig.getFacetConfig());

                $scope.facetValueConceptService.prepareConcept(new facete.Path());//.then(function(concept) {
                    //$scope.dataSources = [ createMapDataSource($scope.sparqlService, geoMapFactoryWgs, concept, '#CC0020') ];
                //});
            }, true);

            $scope.path = null;


            var concept = sparql.ConceptUtils.createTypeConcept(defaultConcept);
            var query = new sparql.Query();
            query.setQueryPattern(concept.getElement());
            query.getProject().add(concept.getVar());

            //alert(query);
            $scope.listService = new service.ListServiceSparqlQuery($scope.sparqlService, query, concept.getVar());

            $scope.paginationOptions = {cssClass: 'pagination-sm', maxSize: 3 };
        }

        $scope.updateFacetTree(defaultService, defaultConcept);
    }]);
    </script>

</head>

<body>
    <div snap-drawer="left">
<!--         <jassa-list list-service="listService" pagination-options="{cssClass: 'pagination-sm', maxSize: 5 }"> -->
<!--             <li ng-repeat="item in items"> -->
<!--             {{item.id}} -->
<!--             </li> -->
<!--         </jassa-list> -->

        <facet-list
            sparql-service="sparqlService"
            facet-tree-config="facetTreeConfig"
            path="path"
            select="selectPath(path)"
            pagination-options="paginationOptions"
        ></facet-list>

        <constraint-list
            sparql-service="sparqlService"
            facet-tree-config="facetTreeConfig"
        ></constraint-list>
    </div>
    <div snap-drawer="right">
      <div id="sources">
          <h2>Sources</h2>
          <ul></ul>
          <div id="editor"></div>
      </div>
    </div>
    <div id="bottom-drawer">
        <div id="resource-info">
            <p></p>
            <img src="img/loader.gif" id="loader" />
            <div id="details"></div>
        </div>
    </div>
    <!-- <div class="app"></div>
    <div id="header">
        <input ng-model="query"> {{query}}
    </div>-->
    <div snap-content snap-options="opts">
        <div id="search-box" class="ui-element">
            <div>
            <div class="ui-element-content">
                <img src="img/compass.png" id="compass" />
                <div id="search-box-input">
                    <input ng-model="bar.value" id="search" placeholder="Filter" />
                    <div id="clear"><a href="#"><span class="glyphicon glyphicon-remove"></span><div id="clear-text"></div></a></div>
                </div>
                <!--<a href="#" id="filter"><span class="glyphicon glyphicon-search"></span></a>-->
            </div>
            <div id="results-container">
                <ul id="results">
                </ul>
            </div>
            </div>
        </div>
        <snap-dragger="left">
        <div id="drawer-left" class="drawer ui-element" snap-toggle="left">
            <div class="ui-element-content">
                <img src="img/slider_left_icon.png" />
            </div>
        </div>
        </snap-dragger>
        <snap-dragger="right">
        <div id="drawer-right" class="drawer ui-element" snap-toggle="right">
            <div class="ui-element-content">
                <img src="img/slider_right_icon.png" />
            </div>
        </div>
        </snap-dragger>
        <div jassa-map-leaflet="map" style="position: absolute; width: 100%; height: 100%" config="mapConfig" data-sources="dataSources" select="selectGeom(data)" id="map"></div>
    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>
    <script type="text/javascript" src="js/snap.js"></script>
    <script type="text/javascript">
    var snapper = new Snap({
        element: document.getElementById('content')
    });
    </script>
</body>

</html>

