<!DOCTYPE html>
<html ng-app="jassa.demo.map.ol.basic" ng-controller="gemCtrl">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />

    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="bower_components/angular-snap/angular-snap.css" />

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/jassa-ui-angular/jassa-ui-angular.css" />
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <!-- endbower -->

    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/gem.css" />


    <script src="bower_components/jscache/cache.js"></script>


    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bluebird/js/browser/bluebird.js"></script>
    <script src="bower_components/jassa/jassa.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/dddi-angular/dddi-angular.js"></script>
    <script src="bower_components/jassa-ui-angular/jassa-ui-angular-tpls.js"></script>
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/snapjs/snap.js"></script>
    <script src="bower_components/angular-snap/angular-snap.js"></script>
    <script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->

    <script src="bower_components/underscore.string/lib/underscore.string.js"></script>


    <script src="lib/angular-snap/angular-snap.js"></script>
    <script src="lib/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
    <script src="js/orientation.js"></script>

    <script src="lib/wicket/wicket.js"></script>
    <script src="lib/wicket/wicket-leaflet.js"></script>


    <script src="js/jassa-ui-angular-leaflet-tpls.js"></script>
    <script src="js/sourcemanager/sourcemanager.js"></script>
    <script src="js/search.js"></script>
<!--     <script src="js/toggle-constraints.js"></script> -->

<!--     <script src="js/breadcrumb/breadcrumb.js"></script> -->
<!--     <script src="js/jassa-list/jassa-list.js"></script> -->
<!--     <script src="js/facet-list/facet-list.js"></script> -->

    <script src="js/scrollglue-right/scrollglue-right.js"></script>

    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

    <script id="template/pagination/pagination.html" type="text/ng-template">
        <ul class="pagination">
                <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(1)" title="First Page"> <span class="glyphicon glyphicon-step-backward"></span></a></li>
                <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}"><a href ng-click="selectPage(page - 1)" title="Previous Page"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a href ng-click="selectPage(page.number)">{{page.text}}</a></li>
                <li ng-if="directionLinks" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(page + 1)" title="Next Page"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}"><a href ng-click="selectPage(totalPages)" title="Last Page"><span class="glyphicon glyphicon-step-forward"></span> </a></li>
        </ul>
    </script>

    <title>GEM - {{bar.value}}</title>
    <script type="text/javascript">
        $(function(){
            $("#bottom-drawer").css("bottom","-80%");
            //$("#bottom-drawer p").css("width",window.innerWidth-80);
        });
        $(window).resize(function () {
            //$("#bottom-drawer p").css("width",window.innerWidth-80);
        });

    </script>
    <script type="text/javascript">
    _.mixin(_.str.exports());

    $ = jQuery || $;
    jQuery = $;

    jassa = new Jassa(Promise, function() {
        var jqXHR = $.ajax.apply(this, arguments);
        var r = Promise.resolve(jqXHR)
            .cancellable()
            .catch(Promise.TimeoutError, Promise.CancellationError, function(e) {
                //console.log('CANCELLED REQUEST');
                jqXHR.abort();
                throw e;
            });
        return r;
    });

    var rdf = jassa.rdf;
    var sparql = jassa.sparql;
    var service = jassa.service;
    var sponate = jassa.sponate;
    var facete = jassa.facete;
    var util = jassa.util;

    var geo = jassa.geo;

    var vocab = jassa.vocab;

    // temporary (used at first start or when the source list is empty)

    var initialSources = [{
            'name' : 'DBP Architecture',
            'endpoint' : 'http://akswnc3.informatik.uni-leipzig.de/data/dbpedia/sparql',
            'graph' : 'http://dbpedia.org',
            'type' : 'http://dbpedia.org/ontology/ArchitecturalStructure',
            'active' : true,
            'facets' : true
        }, {
            'name' : 'DBP Parks',
            'endpoint' : 'http://akswnc3.informatik.uni-leipzig.de/data/dbpedia/sparql',
            'graph' : 'http://dbpedia.org',
            'type' : 'http://dbpedia.org/class/yago/ParksInBelgrade',
            'active' : false,
            'facets' : false
        }, {
            'name' : 'LinkedGeoData',
            'endpoint' : 'http://linkedgeodata.org/sparql',
            'graph' : 'http://linkedgeodata.org',
            'type' : null,
            'active' : false,
            'facets' : false
        }];


    //localStorage.sources = localStorage.sources || initialSources;
//     var createSparqlService = function(url, graphUris) {
//         var result = service.SparqlServiceBuilder.http(url, graphUris, {type: 'POST'})
//             .cache().virtFix().paginate(1000).pageExpand(100).create();

//         return result;
//     };


    var DataSourceFilterUtils = {
        createFilteredDataService: function(ds, text) {
            return new jassa.service.DataServiceFilter(ds, function(entry) {
                // case insensitive filtering
                return !text ? entry : entry.shortLabel.displayLabel.toLowerCase().indexOf(text.toLowerCase()) >= 0;
            });
        }
    };

    angular.module('jassa.demo.map.ol.basic',
        ['ngSanitize', 'ui.bootstrap', 'ui.jassa', 'ui.jassa.leaflet', 'luegg.directives', 'snap', 'ui.jassa.facet-list', 'ui.jassa.jassa-list', 'ui.jassa.breadcrumb', 'dddi', 'ngStorage'],
        [ '$rootScopeProvider', function($rootScopeProvider) {
            $rootScopeProvider.digestTtl(20);
        }])

    .controller('gemCtrl', ['$scope', '$dddi', '$localStorage', function($scope, $dddi, $localStorage) {


        $scope.$storage = $localStorage;

        $scope.$storage.$reset();

        $scope.$storage.$default({
            sources: initialSources
        });

        $scope.ObjectUtils = jassa.util.ObjectUtils;

        //$scope.facetTreeConfig = new facete.FacetTreeConfig();


        // TODO We may need to extend dddi with array support, such that
        // dependencies are managed for each item in a given array
        // For example, given an array of dataSourceConfigs, manage the
        // creation of the corresponding sparqlService on an per item basis

        // Proposal: dddi.registerArray('arrayExpression', 'targetAttrExprRelativeToItem', [deps])

    var dddi = $dddi($scope);




    // TODO Make this part of $ddddi()
    $scope.active = {
        services: {}
    };


    // Objects being wired up here
    // - sparqlCache
    // - services.sparqlService
    // - services.conceptPathFinder
    // - services.tableGeoLink
    // - lookupServiceNodeLabels
    // - lookupServicePathLabels
    // - lookupServiceConstraintLabels
    // -


    $scope.langs = ['en', 'de'];


//     DDDI Array test
//     $scope.test = [{a: 1}, {a: 2}];

//     dddi.forArray('test').register('b', ['a', '$index', function(x, $index) { console.log('$index: ', x, $index); return x + 1; }]);
//     dddi.forArray('test').register('c', ['b', function(x) { return x + 1; }]);

    $scope.$watchCollection('test', function(arr) {
        console.log('test: ', JSON.stringify(arr));
    });


    dddi.register('labelLiteralPreference', ['@langs',
        function(langs) {
            var r = new sparql.LiteralPreference(langs);
            return r;
        }]);


    // Create a copy of the sources in the scope
    // Note that placing circular json objects into $storage will break it :/
    dddi.register('sourceConfigs', ['=$storage.sources', function(sources) {

        var r = sources.map(function(item) {
            var s = angular.extend({}, item);
            return s;
        });

        console.log('Sources changed ', r);

        return r;
    }]);


    // FUCK.... if either the array reference or the target item reference change,
    // all values need to be recomputed -
    // even if the dependency values actually did not change.
    // A workaround for now is to add the array as a collection-watch-dependency

    // Create a facetTreeConfig if not part of the config already
    dddi.forArray('sourceConfigs').register('facetTreeConfig', ['?facetTreeConfig', '@$scope.sourceConfigs',
        function(facetTreeConfig) {
//            console.log('Hm Status: ', $scope.sourceConfigs);
            var r = facetTreeConfig ? facetTreeConfig : new facete.FacetTreeConfig();
            return r;
        }]);


    // Link the size of the array for each source's associated services with that of the configs
    dddi.linkArray('sourceServices', 'sourceConfigs', {
        preCreate: function() { return {}; }
    });


    $scope.$watchCollection('sourceServices', function(s) {
        console.log('Status: ' + s.length, s, $localStorage, $scope.sourceConfigs);
    });

    // For each source....

    // copy the language settings
    dddi.forArray('sourceServices').register('labelLiteralPreference', ['$scope.labelLiteralPreference',
        function(llp) {
            return llp;
        }]);

    dddi.forArray('sourceServices').register('sparqlService', [ '?$scope.sourceConfigs[$index].endpoint', '?$scope.sourceConfigs[$index].graph',
        function(endpoint, graph, serviceConfig, sparqlProxyUrl, sparqlCache) {
            var serviceConfig = {
                serviceIri: endpoint,
                defaultGraphIris: graph ? [graph] : []
            };
            //var cache = sparqlCacheSupplier ? sparqlCacheSupplier.getCache(serviceIri, defaultGraphIris) : null;
//console.log('Recreated sparql service');

            var base = sparqlProxyUrl == null
                ? jassa.service.SparqlServiceBuilder.http(serviceConfig.serviceIri, serviceConfig.defaultGraphIris, {type: 'POST'})
                : jassa.service.SparqlServiceBuilder.http(sparqlProxyUrl, serviceConfig.defaultGraphIris, {type: 'POST'}, {'service-uri': serviceConfig.serviceIri})
                ;

            //if(sparqlCache) {
                // TODO Reuse prior request cache?
                var requestCache = null; //new jassa.service.RequestCache(null, sparqlCache);
                base = base.cache(requestCache);
            //}

            var r = base.virtFix().paginate(1000).pageExpand(100).create();

            //console.log('Sparql service', serviceIri, defaultGraphIris);
            return r;
        }]);

    dddi.forArray('sourceServices').register('lookupServiceNodeLabels', [ 'sparqlService', 'labelLiteralPreference',
        function(sparqlService, literalPreference) {
            //var literalPreference = active.services.labelLiteralPreference; //new sparql.LiteralPreference($scope.langs);
            var r = sponate.LookupServiceUtils.createLookupServiceNodeLabels(sparqlService, literalPreference, 20 /* predicates */);
            //r = new service.LookupServiceCache(r);
            return r;
        }]);

    dddi.forArray('sourceServices').register('lookupServicePathLabels', [ 'lookupServiceNodeLabels',
        function(lookupServiceNodeLabels) {
            var r = new facete.LookupServicePathLabels(lookupServiceNodeLabels);
            return r;
        }]);

    dddi.forArray('sourceServices').register('lookupServiceConstraintLabels', [ 'lookupServiceNodeLabels', 'lookupServicePathLabels',
        function(lookupServiceNodeLabels, lookupServicePathLabels) {
            var r = new facete.LookupServiceConstraintLabels(lookupServiceNodeLabels, lookupServicePathLabels);
            return r;
        }]);

    dddi.forArray('sourceServices').register('listServiceConstraintLabels', ['$index', 'lookupServiceConstraintLabels', '$scope.ObjectUtils.hashCode($scope.sourceConfigs[$index].facetTreeConfig.getFacetConfig().getConstraintManager())',
        function($index, lookupServiceConstraintLabels) {

            var cm = $scope.sourceConfigs[$index].facetTreeConfig.getFacetConfig().getConstraintManager();
            var constraints = cm != null ? cm.getConstraints() : [];

            var promise = lookupServiceConstraintLabels.lookup(constraints).then(function(map) {

                var entries = constraints.map(function(constraint) {
                    var label = map.get(constraint);

                    var r = {
                        key: constraint,
                        val: {
                            constraint: constraint,
                            displayLabel: label
                        }
                    };

                    return r;
                });

                var filterSupplierFn = function(searchString) {
                    var result;

                    if(searchString != null) {
                        var re = new RegExp(searchString, 'mi');

                        result = function(entry) {
                            var m1 = re.test(entry.val.displayLabel);
                            return m1;
                        };
                    } else {
                        result = function(entry) { return true; };
                    }

                    return result;
                };

                var r = new jassa.service.ListServiceArray(entries, filterSupplierFn);
                return r;
            });

//            promise.then(function(ls) {
//               ls.fetchItems().then(function(entries) {
//                   console.log('WEEE: ', entries);
//               });
//            });
            return promise;
        }]);


//    dddi.register('active.config.constraintManager', ['active.config.facetConfig',
//        function() {
//
//        }]);


    dddi.forArray('sourceServices').register('facetService', [ '$index', 'sparqlService', '$scope.ObjectUtils.hashCode($scope.sourceConfigs[$index].facetTreeConfig.getFacetConfig())', 'labelLiteralPreference',
        function($index, sparqlService, facetConfigHash, labelLiteralPreference) {
            var facetConfig = $scope.sourceConfigs[$index].facetTreeConfig.getFacetConfig();

            var r = jassa.facete.FacetServiceBuilder
                .core(sparqlService, facetConfig)
                .labelConfig(labelLiteralPreference)
                .index()
                //.pathToTags(pathToTags)
                //.tagFn(tagFn)
                .create();

            return r;
        }]);

    // TODO We could actually depend on the nodeLabel lookupService
    // But maybe its ok to just depend on the labelLiteralPreference
    dddi.forArray('sourceServices').register('facetValueService', [ '$index', 'sparqlService', '$scope.ObjectUtils.hashCode($scope.sourceConfigs[$index].facetTreeConfig.getFacetConfig())', 'labelLiteralPreference',
        function($index, sparqlService, facetConfigHash, labelLiteralPreference) {
            var facetConfig = $scope.sourceConfigs[$index].facetTreeConfig.getFacetConfig();

            var facetValueServiceRowLimit = 5000000;

            //var constraintManager = facetConfig.getConstraintManager();

            var r = jassa.facete.FacetValueServiceBuilder
                .core(sparqlService, facetConfig, facetValueServiceRowLimit)
                .labelConfig(labelLiteralPreference)
                .constraintTagging()
                .create();

            return r;
        }]);


        // Different factories
        var geoMapFactoryVirt = geo.GeoMapFactoryUtils.createWktMapFactory('http://www.w3.org/2003/01/geo/wgs84_pos#geometry', 'bif:st_intersects', 'bif:st_geomFromText');
        var geoMapFactoryAsWktVirt = geo.GeoMapFactoryUtils.createWktMapFactory('http://www.opengis.net/ont/geosparql#asWKT', 'bif:st_intersects', 'bif:st_geomFromText');
        var geoMapFactoryWgs =  geo.GeoMapFactoryUtils.wgs84MapFactory;

        var createMapDataSource = function(sparqlService, geoMapFactory, concept, fillColor, moreAttrs) {

            var attrs = {
                fillColor: fillColor,
                fontColor: fillColor,
                strokeColor: fillColor,

                stroke: true,
                strokeLinecap: 'round',
                strokeWidth: 100,
                pointRadius: 12,
                labelAlign: 'cm'
            };

            _(attrs).extend(moreAttrs);

            var result = geo.GeoDataSourceUtils.createGeoDataSourceLabels(sparqlService, geoMapFactory, concept, attrs);
            return result;
        }

        var bounds = new geo.Bounds(7.0, 49.0, 9, 51.0);


        // Example with three different factories (should take into consideration for source manager implementation)
        /*
        var sparqlServiceA = createSparqlService('http://akswnc3.informatik.uni-leipzig.de/data/dbpedia/sparql', ['http://dbpedia.org']);
        var sparqlServiceB = createSparqlService('http://linkedgeodata.org/sparql', ['http://linkedgeodata.org']);
        var sparqlServiceC = createSparqlService('http://localhost/data/geolink/sparql', ['http://geolink.aksw.org/']);

        var conceptA = sparql.ConceptUtils.createTypeConcept('http://dbpedia.org/ontology/University');
        var conceptB = sparql.ConceptUtils.createTypeConcept('http://linkedgeodata.org/ontology/Airport');
        var conceptC = sparql.ConceptUtils.createTypeConcept('http://www.linklion.org/ontology#Link');

        $scope.dataSources = [
            createMapDataSource(sparqlServiceA, geoMapFactoryVirt, conceptA, '#CC0020'),
            //createMapDataSource(sparqlServiceB, geoMapFactoryWgs, conceptB, '#2000CC')
            //createMapDataSource(sparqlServiceC, geoMapFactoryAsWktVirt, conceptC, '#663300'),
        ];
        */

        $scope.selectGeom = function(data) {
            alert(JSON.stringify(data));
            //console.log('Status', data);
        };

        $scope.mapConfig = {
            center: { lon: 8, lat: 50 },
            zoom: 8
        };

        $scope.setCenter = function() {
            $scope.mapConfig.center = { lon: 20, lat: 20 };
            $scope.mapConfig.zoom = 4;
        };

//         $scope.$watch('mapConfig', function(v) {
//             console.log('Config changed: ' + JSON.stringify(v));
//         }, true);

        $scope.filterText = null;

        dddi.forArray('sourceConfigs').register('baseConcept' , [ '?type', function(type) {
                var r = type
                    ? sparql.ConceptUtils.createTypeConcept(type)
                    : sparql.ConceptUtils.createSubjectConcept();

                return r;
            }]);

        // TODO HACK / We need to add proper support for setter functions
        ///facetTreeConfig.facetConfig.setBaseConcept(baseConcept);
        dddi.forArray('sourceConfigs').register('facetTreeConfig.getFacetConfig().baseConcept', ['baseConcept',
            function(baseConcept) {
                return baseConcept
                //var facetConfig = $scope.facetTreeConfig.getFacetConfig();
            }]);

        dddi.forArray('sourceConfigs').register('concept', ['$index', '$scope.ObjectUtils.hashCode(facetTreeConfig.getFacetConfig())',
            function($index, hash) {
                var facetConfig = $scope.sourceConfigs[$index].facetTreeConfig.getFacetConfig();
                var concept = facete.FacetUtils.createConceptResources(facetConfig, new facete.Path()); //, null, false);
                return concept;
            }]);


        dddi.forArray('sourceServices').register('rawMapDataService', [ '$index', 'sparqlService', '$scope.sourceConfigs[$index].concept', '$scope.sourceConfigs[$index]',
            function($index, sparqlService, concept, sourceConfig) {

                var moreAttrs = {
                    endpoint: sourceConfig.endpoint,
                    graph: sourceConfig.graph,
                    concept: sourceConfig.baseConcept,
                    dataSourceId: $index
                };

                var r = createMapDataSource(sparqlService, geoMapFactoryWgs, concept, '#CC0020', moreAttrs);

                return r;
            }]);


        dddi.forArray('sourceServices').register('mapDataService', ['rawMapDataService', '?$scope.filterText',
            function(rawMapDataService, filterText) {
                var r = DataSourceFilterUtils.createFilteredDataService(rawMapDataService, filterText);
                //var r = rawMapDataService;
                return r;
            }]);


        $scope.$watch('filterText', function(text) {
            if(text){ // Show filtered
//              var rawDataSources = $scope.rawDataSources; // always apply filter to all of the resources within current bounds
//              $scope.dataSources = []; // clear datasources
//              for(i in tempDataSources) {
//                  $scope.dataSources.push(DataSourceFilterUtils.createFilteredDataSource(rawDataSources[i], text));
//              }
             //$('#search').attr("placeholder", 'Leave empty and press Enter to clear filter');
                $('#search').css("display", 'none');
                $('#clear').css("display", 'block');
            }
            else { // Show raw
//              $scope.dataSources = $scope.rawDataSources;
             $('#search').attr("placeholder", 'Type, then press Enter to apply filter');
            }
        });


        var sfn = $dddi.utils.wrapArrayFn(function() {
            var r = [];
            for(var i = 0; i < $scope.sourceConfigs.length; ++i) {
                var isActive = $scope.sourceConfigs[i].active;
                var mapDataService = $scope.sourceServices[i].mapDataService;

                if(isActive && mapDataService) {
                    r.push(mapDataService);
                }
            }
            return r;
        });

        dddi.register('mapDataServices', sfn);

        $scope.$watchCollection('mapDataServices', function(mdss) {
            console.log('MapDataServices: ', mdss);
        });

        $scope.filterClicked = function(text) {
            $scope.filterText = text ? text : null;
        };

        // The active facet tree
        $scope.activeFacetTreeIndex = 0;
    }]);
    </script>

</head>

<body>
    <div snap-drawer="left">

        <facet-list
            ui-model="active.breadcrumb"
            constraint-manager="sourceConfigs[activeFacetTreeIndex].facetTreeConfig.getFacetConfig().getConstraintManager()"
            lookup-service-node-labels="sourceServices[activeFacetTreeIndex].lookupServiceNodeLabels"
            constraint-service="sourceServices[activeFacetTreeIndex].listServiceConstraintLabels"
            facet-service="sourceServices[activeFacetTreeIndex].facetService"
            facet-value-service="sourceServices[activeFacetTreeIndex].facetValueService"
            select="selectPath(path)"
        ></facet-list>

    </div>
    <div snap-drawer="right">
      <div id="sources">
          <h2>Sources</h2>
          <ul></ul>
          <div id="editor"></div>
      </div>
    </div>
    <div id="bottom-drawer">
        <div id="resource-info">
            <p></p>
            <img src="img/loader.gif" id="loader" />
            <div id="details"></div>
        </div>
    </div>
    <!-- <div class="app"></div>
    <div id="header">
        <input ng-model="query"> {{query}}
    </div>-->
    <div snap-content snap-options="opts">
        <div id="search-box" class="ui-element">
            <div>
            <div class="ui-element-content">
                <img src="img/compass.png" id="compass" />
                <div id="search-box-input">
                    <input ng-model="bar.value" id="search" placeholder="Filter" />
                    <div id="clear"><a href="#"><span class="glyphicon glyphicon-remove"></span><div id="clear-text"></div></a></div>
                </div>
                <!--<a href="#" id="filter"><span class="glyphicon glyphicon-search"></span></a>-->
            </div>
            <div id="results-container">
                <ul id="results">
                </ul>
            </div>
            </div>
        </div>
        <snap-dragger="left">
        <div id="drawer-left" class="drawer ui-element" snap-toggle="left">
            <div class="ui-element-content">
                <img src="img/slider_left_icon.png" />
            </div>
        </div>
        </snap-dragger>
        <snap-dragger="right">
        <div id="drawer-right" class="drawer ui-element" snap-toggle="right">
            <div class="ui-element-content">
                <img src="img/slider_right_icon.png" />
            </div>
        </div>
        </snap-dragger>
        <div jassa-map-leaflet="map" style="position: absolute; width: 100%; height: 100%" config="mapConfig" sources="mapDataServices" select="selectGeom(data)" id="map"></div>
    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript">
        app.initialize();
    </script>
    <script type="text/javascript" src="js/snap.js"></script>
    <script type="text/javascript">
    var snapper = new Snap({
        element: document.getElementById('content')
    });
    </script>
</body>

</html>

